:root {
  --backgroundMessage: #5f9ea0;
  --nameOrMessageMessage: white;
  --textColorMessage: rgba(0, 0, 0, 0.87);
  --labelColorMessage: rgba(0, 0, 0, 0.6);
  --popupBackgroundMessage: white;
}

[data-theme="dark"] {
  --backgroundMessage: #325b5c;
  --nameOrMessageMessage: #615f5f;
  --textColorMessage: white;
  --labelColorMessage: white;
  --popupBackgroundMessage: rgb(25 71 87);
}

/* BEGIN SWEETALERT2 */

:global(.swal2-styled.swal2-confirm) {
  transition: background 1s;
}

[data-theme="dark"] {
  :global(.swal2-styled.swal2-confirm) {
    background: #476a66 !important;
  }
}

.popup {
  width: fit-content !important;
  max-width: calc(100vw - 55px);
  font-size: 12px !important;
  background: var(--popupBackgroundMessage) !important;
  transition: background 1s;
  z-index: 100000 !important;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* END SWEETALERT2 */

.background {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background: darkred; */ /* DEV */
  width: calc(100vw - 12px);
  height: calc(100vh - 12px);
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 10px 0px;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 5px solid #555555
}

.formContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 4px;
  opacity: 0.95;
  max-width: 550px !important;
  flex-flow: wrap;
  padding: 14px 14px;
  justify-content: center;
  align-content: flex-start;
  margin: 0px 10px;
  background: var(--backgroundMessage);
  transition: background 1s;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  height: 32px;
  flex-direction: row;
  /* background: red; */ /* DEV */
  justify-content: space-between;
  margin-bottom: 14px;
}

.label {
  border-radius: 4px;
  padding: 0px 8px !important;
  left: -5px !important;
  color: var(--labelColorMessage) !important;
  background-color: var(--nameOrMessageMessage);
  transition:
    color 1s,
    transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
    background 1s !important;
}

.name {
  align-self: center;
  display: flex;
  position: relative;
  /* background: yellow; */ /* DEV */
  opacity: 0.90;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 14px !important;
  background: var(--nameOrMessageMessage) !important;
  transition: background 1s;
}

.message {
  align-self: center;
  display: flex;
  position: relative;
  /* background: yellow; */ /* DEV */
  opacity: 0.90;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 14px !important;
  background: var(--nameOrMessageMessage);
  transition: background 1s;
}

.input {
  color: var(--textColorMessage) !important;
  transition: color 1s;
}

.counter {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: none;
  top: none;
  /* background: yellow; */ /* DEV */
  font-weight: 500;
  width: 100px;
  order: 0;
}

.leftCounter {
  display: flex;
  position: relative;
  justify-content: flex-end;
  top: 4%;
  /* background: gray; */ /* DEV */
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 50%;
}

.rightCounter {
  display: flex;
  position: relative;
  justify-content: flex-end;
  top: 4%;
  /* background: lightgray; */ /* DEV */
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 50%;
}

.clearButton {
  display: flex;
  position: relative !important;
  color: white;
  background: gray !important;
  padding: 0px !important;
  font-size: 16px !important;
  width: 90px;
  height: 32px;
  order: 0;
}

.sendMessageButton {
  display: flex;
  position: relative;
  align-self: center;
  padding: 0px !important;
  line-height: unset;
  color: white;
  background: gray !important;
  font-size: 16px !important;
  width: 160px;
  height: 32px;
  order: 0;
}

@keyframes shakeLRMessage {
  0% { transform: translate(-2px, 0px) }
  2% { transform: translate(0px, 0px) }
  4% { transform: translate(-2px, 0px) }
  6% { transform: translate(0px, 0px) }
  8% { transform: translate(-2px, 0px) }
  10% { transform: translate(0px, 0px) }
  100% { transform: translate(0px, 0px) }
}

.messageLoadingSpinner {
  display: none; /* HIDDEN */
  /* display: flex !important; */ /* DEV */
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100px;
  z-index: 1000;
  animation: secondRotate 4s linear infinite;
}

.loadingTextContainer {
  display: none; /* HIDDEN */
  /* display: flex !important; */ /* DEV */
  position: absolute;
}

.loadingText {
  display: flex !important;
  font-size: 12px;
  color: black;
  font-weight: 900;
  animation: flickerAnimation 1.2s infinite;
}

@keyframes flickerAnimation {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes secondRotate {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.serverSleepBG {
  animation: flickerAnimation 1.2s infinite;
  background: rgba(128, 0, 59, .49); /* DEV */
  width: max-content;
  display: flex;
  position: absolute;
  width: calc(100% + 5px);
  height: 100%;
  left: -2.5px;
  z-index: -1;
}

.serverSleepText {
  display: none; /* HIDDEN */
  /* display: flex; */ /* DEV */
  position: absolute;
  font-size: 12px;
  color: black;
  font-weight: 900;
  bottom: -125px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@media screen
and (width < 296px) {
  .serverSleepText {
    font-size: 11.5px;
  }
}

@keyframes flickerAnimationn {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}

.divSpinner {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 150px;
  height: 150px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.divSpinner:nth-of-type(1) {
  animation-delay: -0.45s
}

.divSpinner:nth-of-type(2) {
  animation-delay: -0.3s
}

.divSpinner:nth-of-type(3) {
  animation-delay: -0.15s
}

@keyframes ring {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}