:root {
  --boxTitleProjects: #9f3434;
  --betweenBarProjects: #d3d79f;
  --placeholderBGProjects: darkcyan;
  --selectProjects: #2196f3;
  --selectBackgroundProjects: 173, 216, 230;
  --titleProjects: #ffffff;
  --cardMediaFilterProjects: none;
  --cardMediaFilterHoverProjects: brightness(.95);
  --textWheelProjects: #ffffff;
  --backgroundWheelProjects: difference;
  --pcWidthProjects: 550px; /* ONLY ROOT */
  --mobileWidthProjects: 100vmin; /* ONLY ROOT */
}

[data-theme="dark"] {
  --boxTitleProjects: #5f1e1e;
  --betweenBarProjects: #71735e;
  --placeholderBGProjects: #196b6b;
  --selectProjects: #48555e;
  --selectBackgroundProjects: 112, 143, 153;
  --titleProjects: #b5b3b3;
  --cardMediaFilterProjects: brightness(.6);
  --cardMediaFilterHoverProjects: brightness(.65);
  --textWheelProjects: #d2d2d2;
  --backgroundWheelProjects: normal;
}

.background {
  display: flex;
  position: relative;
  /* background: yellow; */ /* DEV */
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  height: calc(100vh - 12px);
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollThumb) var(--scrollTrack);
  transition: scrollbar-color 1s;
}

.projectsOuterContainer {
  /* background: orange; */ /* DEV */
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.mainContainer {
  position: relative;
  width: 100%;
  flex-direction: column;
  /* background: yellow; */ /* DEV */
  overflow: auto;
  overflow: hidden;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.mainContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll {
  display: flex;
  position: relative;
  /* background: lightseagreen; */ /* DEV */
  opacity: 0.8;
  flex-direction: column;
  width: fit-content;
}

.selectType {
  display: flex;
  position: fixed !important;
  top: 6px;
  background: rgb(var(--selectBackgroundProjects)) !important;
  transition: background 1s;
  width: 150px !important;
  border-radius: 0px 0px 4px 4px !important;
  z-index: 4000;
  height: 29px;
}

.solid {
  display: flex;
  position: relative;
  background: #5d4037;
  width: 100%;
  height: 12px;
  transition: all .2s ease-in-out;
}

.intercalated {
  display: flex;
  position: relative;
  background: linear-gradient(to right, transparent 70%, #5d4037 30%);
  background-blend-mode: difference;
  background-size: 94px;
  width: 100%;
  height: 30px;
}

.centerStripe {
  display: flex;
  flex-direction: row;
  /* background: yellow; */ /* DEV */
  background: #5d4037;
  width: 100%;
  transition: all .2s ease-in-out;
}

.card {
  display: flex;
  flex-direction: row;
  /* background: gray; */ /* DEV */
  height: 100%
}

.leftBar {
  background: #5d4037;
  width: 14px;
}

.titleAndMediaContainer {
  display: flex;
  flex-direction: column
}

.eachMedia {
  display: flex;
  flex-direction: row;
  border: 0px solid blue;
}

.eachMedia:last-child .betweenBar:last-child {
  display: none;
}

.boxTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 18px;
  /* background: blue; */ /* DEV */
  background: var(--boxTitleProjects);
  transition: background 1s linear;
  height: calc((var(--pcWidthProjects) / 2) / 4.5);
}

.title {
  margin-right: 18px;
  font-family: Century Gothic;
  color: var(--titleProjects);
  transition: color 1s;
  font-size: 40px
}

.GoToLinkButtonContainer {
  /* background: yellow; */ /* DEV */
  width: 35px;
  height: 35px;
}

.boxMedia {
  /* background: blue; */ /* DEV */
  display: flex;
  flex-direction: row;
  border: 0px solid blue;
}

.anchor {
  width: var(--pcWidthProjects);
  height: calc(var(--pcWidthProjects) / 2);
  cursor: inherit;
}

.placeholderBackground {
  width: var(--pcWidthProjects);
  height: calc(var(--pcWidthProjects) / 2);
  margin-left: calc(var(--pcWidthProjects) * -1);
  position: relative;
  display: flex;
  z-index: 900;
  background: var(--placeholderBGProjects);
}

.placeholderAnimation {
  width: calc(var(--pcWidthProjects) / 2);
  height: calc(var(--pcWidthProjects) / 2);
  margin-left: calc(var(--pcWidthProjects) / 4);
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  animation: rotate .8s linear infinite;
  animation-timing-function: steps(12, end);
  z-index: 901;
}

.cardMedia {
  width: 100%;
  height: 100%;
  filter: var(--cardMediaFilterProjects);
  transition: filter 1s;
  z-index: 900;
  animation: none;
  /* background: yellow; */ /* DEV */
}

.cardMedia:hover {
  filter: var(--cardMediaFilterHoverProjects);
  transform: scale(1.01);
}

.scroll:hover:has(
  > .centerStripe:hover
  > .card:last-child:hover
  > .titleAndMediaContainer:last-child:hover
  > .boxMedia:last-child:hover
  > .eachMedia:last-child:hover
  > .anchor:hover
  > .cardMedia:hover
) > :is(div.solid, div.centerStripe) {
  width: calc(100% + 3px);
}

@keyframes rotate {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.betweenBar {
  background: var(--betweenBarProjects);
  transition: background 1s;
  display: flex;
  width: 14px;
}

.boxLowerToggle {
  transform: translateY(-100%) !important
}

.boxLowerContainer {
  /* background: darkred; */ /* DEV */
  width: calv(100vw - 12px);
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 4px;
}

.boxLower {
  /* background: lightcoral; */ /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  font-size: 23px;
  justify-content: center;
}

.textContainer {
  /* background: orange; */ /* DEV */
  display: flex;
  position: relative;
  mix-blend-mode: difference;
  color: #ffffff;
}

.formControl {
  position: relative;
  width: fit-content !important;
  min-width: fit-content !important;
  align-self: center !important;
}

.select {
  color: #FFFFFF;
  background: var(--selectProjects) !important;
  transition: background 1s;
  height: 35px;
  width: 60px;
  margin-left: 8px; /* 68 */
  font-size: 17px;
}

.flap {
  /* background: yellow; */ /* DEV */
  display: none;
  background:
    linear-gradient(
      to bottom,
      #e0e0e0 0px, #e0e0e0 2px,
      #909090 2px, #909090 4px,
      #e0e0e0 4px, #e0e0e0 6px,
      #909090 6px
    );
  width: 100px;
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  border: 0px;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0 0 0 2px #e0e0e0 inset;
}

.innerText {
  box-shadow: 0 0 0 2px blue inset; /* DEV */
  font-size: 33px;
}

@media screen
and (width < 650px) {
  .boxLower {
    width: min-content;
  }
}

@media screen
and (width > 649px) {
  .boxLower, .textContainer {
    width: max-content;
  }
}

@media screen
and (height < 456px) {
  .scroll > .solid:first-child, .intercalated, .solid:last-child {
    /* background: yellow; */ /* DEV */
    display: none;
  }
}

@media screen
and (height > 523px) {
  .boxLower {
    transform: none !important;
  }
}

@media screen
and (height < 524px) {
  .flap {
    display: flex;
  }
  .boxLowerToggle {
    transition: transform 1s;
  }
  .boxLowerContainer {
    position: fixed;
    width: calc(100vw - 12px);
    bottom: 10px;
    transform: translateY(100%);
  }
  .boxLower {
    width: min-content;
    transform: translateY(0%);
    transition: transform 1s;
    background: rgba(var(--selectBackgroundProjects), 0.8) !important;
    padding: 3px 7px 0px 7px;
    border-radius: 4px 4px 0px 0px;
  }
  .textContainer {
    color: var(--textWheelProjects) !important;
    mix-blend-mode: var(--backgroundWheelProjects) !important;
  }
}

@media only screen
and (hover: none)
and (pointer: coarse) {
  .boxLowerContainer {
    display: none;
  }
}

@media screen
and (device-height < 460px)
and (orientation: landscape),
screen
and (device-width < 460px)
and (orientation: portrait) {
  .boxTitle {
    height: calc((var(--mobileWidthProjects) / 2) / 4.5);
  }
  .anchor, .placeholderBackground {
    width: var(--mobileWidthProjects);
    height: calc(var(--mobileWidthProjects) / 2);
  }
  .placeholderBackground {
    margin-left: calc(var(--mobileWidthProjects) * -1);
  }
  .placeholderAnimation {
    width: calc(var(--mobileWidthProjects) / 2);
    height: calc(var(--mobileWidthProjects) / 2);
    margin-left: calc(var(--mobileWidthProjects) / 4);
  }
  .title {
    font-size: 8.3vmin
  }
  .GoToLinkButtonContainer {
    width: 8vmin;
    height: 8vmin;
  }
  .solid {
    height: 2.5vmin;
  }
  .intercalated {
    height: 6vmin;
  }
  .intercalated {
    background-size: 17.15vmin;
  }
  .betweenBar, .leftBar {
    width: 2.5vmin;
  }
}