:root {
  --boxTitleProjects: #9f3434;
  --betweenBarProjects: #d3d79f;
  --placeholderBGProjects: darkcyan;
  --selectProjects: #2196f3;
  --selectTypeProjects: lightblue;
  --titleProjects: #ffffff;
  --cardMediaFilterProjects: none;
  --cardMediaFilterHoverProjects: brightness(.95);
}

[data-theme="dark"] {
  --boxTitleProjects: #5f1e1e;
  --betweenBarProjects: #71735e;
  --placeholderBGProjects: #196b6b;
  --selectProjects: #48555e;
  --selectTypeProjects: #708f99;
  --titleProjects: #b5b3b3;
  --cardMediaFilterProjects: brightness(.6);
  --cardMediaFilterHoverProjects: brightness(.65);
}

/* .background {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 12px);
  width: 100%;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  overflow: auto;
  overflow-x: hidden; */
  /* background: orange; */ /* DEV */
/* } */

.background {
  display: flex;
  position: relative;
  /* background: yellow; */ /* DEV */
  /* padding: 0px 10px 10px 10px; */
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  height: calc(100vh - 12px);
  /* overflow: auto; */
  /* overflow: auto;
  overflow-x: hidden; */
  /* padding-top: 60px; */

  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
}

.background::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 5px solid #555555
}

.testTest {
  background: orange;
  height: fit-content;
  width: 100%;
}

.mainContainer {
  /* display: flex; */
  display: block;
  position: relative;
  width: 100%;
  flex-direction: column;
  /* background: yellow; */ /* DEV */
  text-align: -webkit-center;
  /* overflow-y: hidden;
  overflow-x: auto; */
  min-height: 448px;
  /* overflow: hidden; */
  overflow: auto;
}

.mainContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll {
  display: flex;
  position: relative;
  /* background: lightseagreen; */ /* DEV */
  opacity: 0.8;
  flex-direction: column;
  width: fit-content;
}

.selectType {
  display: flex;
  position: fixed !important;
  left: calc(50% - 75px);
  top: 6px;
  background: var(--selectTypeProjects) !important;
  width: 150px !important;
  border-radius: 0px 0px 4px 4px !important;
  z-index: 4000
}

.solid {
  display: flex;
  position: relative;
  background: #5d4037;
  width: 100%;
  height: 12px;
  transition: all .2s ease-in-out;
}

.intercalated {
  display: flex;
  position: relative;
  background: linear-gradient(to right, transparent 70%, #5d4037 30%);
  background-blend-mode: difference;
  background-size: 94px;
  width: 100%;
  height: 30px;
}

.centerStripe {
  display: flex;
  flex-direction: row;
  /* background: yellow; */ /* DEV */
  background: #5d4037;
  height: 340px;
  width: 100%;
  transition: all .2s ease-in-out;
}

.card {
  display: flex;
  flex-direction: row;
  /* background: gray; */ /* DEV */
  height: 340px
}

.leftBar {
  background: #5d4037;
  width: 14px;
}

.test123 {
  display: flex;
  flex-direction: column
}

.test333 {
  display: flex;
  flex-direction: row;
  border: 0px solid blue;
}

.test333:last-child .betweenBar:last-child {
  display: none;
}

.boxTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 18px;
  /* background: blue; */ /* DEV */
  background: var(--boxTitleProjects);
  height: 60px
}

.title {
  margin-right: 18px;
  font-family: Century Gothic;
  color: var(--titleProjects);
  font-size: 40px
}

.boxMedia {
  /* background: blue; */ /* DEV */
  display: flex;
  flex-direction: row;
  border: 0px solid blue;
}

/* .anchorTargetProjects { */
.anchor {
  width: 550px;
  height: 280px;
  cursor: inherit;
  /* pointer-events: none; */
  /* pointer-events: auto; */
}

.cardMedia {
  width: 550px;
  height: 280px;
  filter: var(--cardMediaFilterProjects);
  transition: all .2s ease-in-out;
  z-index: 900;
  animation: none;
  /* background: yellow; */ /* DEV */
}

.cardMedia:hover {
  filter: var(--cardMediaFilterHoverProjects);
  transform: scale(1.01);
}

.scroll:hover:has(
  > .centerStripe:hover
  > .card:last-child:hover
  > .test123:last-child:hover
  > .boxMedia:last-child:hover
  > .test333:last-child:hover
  > .anchor:hover
  > .cardMedia:hover
) > :is(div.solid, div.centerStripe) {
  width: calc(100% + 3px);
}

.placeholderBackground {
  position: relative;
  display: flex;
  z-index: 900;
  margin-left: -550px;
  background: var(--placeholderBGProjects);
  width: 550px;
  height: 280px;
}

.placeholderAnimation {
  display: flex;
  position: absolute;
  margin-left: 130px;
  width: 280px;
  height: 280px;
  animation: rotate .8s linear infinite;
  animation-timing-function: steps(12, end);
  z-index: 901;
}

@keyframes rotate {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.betweenBar {
  background: var(--betweenBarProjects);
  display: flex;
  width: 14px;
}

.boxLower {
  background: yellow; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-top: 10px;
  display: flex
}

.textContainer {
  /* background: darkcyan; */ /* DEV */
  display: flex;
  position: relative;
  color: #FFFFFF;
  font-size: 26px;
  width: fit-content;
  flex-flow: wrap;
  margin: 0px !important;
  align-items: center;
  margin-right: 8px !important;
  mix-blend-mode: difference;
}

.selectContainer {
  /* background: darkred; */ /* DEV */
  display: flex;
  height: 100%;
  width: fit-content;
  position: relative;
  align-items: center;
  margin-top: 3px;
  align-self: center;
}

.select {
  color: #FFFFFF;
  background: var(--selectProjects) !important;
  height: 45px;
  width: 65px;
  font-size: 17px;
}

@media screen
and (width < 600px) {
  .textContainer { width: min-content; }
}

@media screen
and (height < 543px) {
  .boxLower {
    /* width: min-content; */
    position: fixed;
    bottom: 6px;
    /* background: rgba(173, 216, 230, 1); */
    background: rgb(173 216 230 / 80%);
    /* left: calc(50% - 75px); */
    /* left: 50%; */
    left: 50%;
    transform: translate(-50%);
    padding: 0px 10px;
    border-radius: 4px 4px 0px 0px;
  }
}

@media only screen
and (hover: none)
and (pointer: coarse) {
  .boxLower {
    display: none;
  }
  /* Regular CSS rules here*/
  
}