.background {
  /* background: yellow; */ /* DEV */
  display: flex;
  position: relative;
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
  overflow: visible;
  max-width: 650px;
  align-self: center;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.testTest {
  display: flex;
  position: relative;
  flex-direction: row;
  /* background: orange; */ /* DEV */
  flex-grow: 1;
  justify-content: space-around;
}

.linkContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  /* background: lightblue; */ /* DEV */
  border: none;
  width: 80px;
  height: 80px;
  align-items: center;
}

.linkContainer:hover .iconMedia {
  transform: scale(1.2) translate(0px, -3px);
}

.linkContainer:hover .title {
  transform: scale(1.2) translate(0px, 3px);
}

.iconMedia {
  /* background: yellow; */ /* DEV */
  display: flex;
  position: relative;
  width: 60px !important;
  height: 60px !important;
  isolation: isolate;
  transform: scale(1) translate(0px, 0px);
  transition: transform .2s ease-in-out;
}

.title {
  display: flex;
  position: relative;
  /* background: rebeccapurple; */ /* DEV */
  font-size: min(2.7vw, 14px);
  color: #FFFFFF;
  font-weight: 600;
  width: fit-content;
  mix-blend-mode: difference;
  transform: scale(1) translate(0px, 0px);
  will-change: transform;
  transition: transform .2s ease-in-out;
}