.background {
  /* background: yellow; */ /* DEV */
  display: flex;
  position: relative;
  width: 100%;
  height: min(20vw, 80px);
  align-self: flex-start;
  justify-content: space-between;
  overflow: visible;
  max-width: 650px;
  align-self: center;
}

.linkContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  /* background: lightblue; */ /* DEV */
  border: none;
  width: 80px;
  height: 80px;
  align-items: center;
}

.linkContainer:hover {
  transition: all .2s ease-in-out;
}

.iconMedia {
  /* background: yellow; */ /* DEV */
  display: flex;
  position: relative;
  width: 60px !important;
  height: 60px !important;
  isolation: isolate;
  transition: all .2s ease-in-out;
}

.title {
  display: flex;
  position: relative;
  /* background: rebeccapurple; */ /* DEV */
  font-size: min(2.7vw, 14px);
  color: #FFFFFF;
  font-weight: 600;
  width: fit-content;
  mix-blend-mode: difference;
  transition: all .2s ease-in-out;
}

.linkContainer:hover .iconMedia {
  transform: scale(1.2) translate(0px, -3px);
}

.linkContainer:hover .title {
  transform: scale(1.2) translate(0px, 3px);
}