.background {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  z-index: 1000 !important;
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
}

.os {
  font-size: 14px;
  line-height: 35px;
}

.iconDay {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-width: 0px;
  width: 22px !important;
  height: 22px !important;
}

.iconNight {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-width: 0px;
  width: 20px !important;
  height: 20px !important;
}