:root {
  --backgroundGoToLinkButton: #1976d2;
  --backgroundHoverGoToLinkButton: #1565c0;
}

[data-theme="dark"] {
  --backgroundGoToLinkButton: #48555e;
  --backgroundHoverGoToLinkButton: #54636e;
}

.anchor {
  display: flex;
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.background {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--backgroundGoToLinkButton) !important;
  transition: background 1s linear !important;
  padding: 0vw !important;
  min-width: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  animation: shakeKF 4s infinite;
}

.background:hover {
  background: var(--backgroundHoverGoToLinkButton) !important;
}

@keyframes shakeKF {
  0% { transform: translateX(-2px) }
  1% { transform: translateX(0px) }
  2% { transform: translateX(-2px) }
  3% { transform: translateX(0px) }
  4% { transform: translateX(-2px) }
  5% { transform: translateX(0px) }
  6% { transform: translateX(-2px) }
  7% { transform: translateX(0px) }
  100% { transform: translateX(0px) }
}

.icon {
  transform: scaleX(-1);
  width: 75% !important;
  height: 75% !important;
}