.background {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  /* z-index: 2001 !important; */
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
  /* right: 20px !important;
  bottom: 20px !important; */
  /* background: yellow !important; */
  /* background-image: url('../../images/lanEn.png'); */
  /* background-image: url('../../images/lanEs.png'); */
  background-size: cover;
  border: 1px solid black !important;
}

.buttonSettings {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
/*   position: fixed !important; */
  /* z-index: 2001 !important; */
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
  /* right: 20px !important;
  bottom: 20px !important; */
}

.moveTop {
  background: red;
  display: flex;
  /* position: relative; */
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
}

.sliderBox {
  display: flex;
  flex-direction: column;
  position: relative;
  /* background: orange; */ /* DEV */
  left: 0px;
  justify-content: flex-start;
  height: fit-content;
}

.button {
  display: flex;
  position: fixed;
  width: 40px !important;
  height: 25px !important;
  color: darkblue !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  background: lightblue !important;
}

.button:hover {
  filter: brightness(.9);
}

.buttonTypo {
  display: flex;
  align-items: center;
  font-family: Roboto;
  /* background: gray; */ /* DEV */
  font-size: 14px;
  font-weight: 500;
  transform: rotate(270deg);
  height: 30px;
  text-wrap: nowrap;
}

.lanEnFlag {
  display: flex;
  flex-direction: row;
  align-self: center;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  height: 42px;
  width: 60px;
  transition: all .1s ease-in-out;
  margin-bottom: 1px;
}

.lanEnFlag:hover {
  filter: brightness(.9);
  transform: scale(1.01)
}

.lanEsFlag {
  display: flex;
  flex-direction: row;
  align-self: center;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  height: 42px;
  width: 60px;
  transition: all .1s ease-in-out;
}

.lanEsFlag:hover {
  filter: brightness(.9);
  transform: scale(1.01)
}