.background {
  /* background: darkred; */ /* DEV */
  display: flex;
  position: relative;
  /* flex-wrap: wrap; */
  position: relative;
  align-items: center;
  height: calc(100vh - 12px);
  /* overflow-x: hidden; */
  /* overflow: auto; */
  justify-content: center;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-wrap: nowrap;
  /* overflow-y: hidden !important; */
  overflow: hidden !important;
}

.background::-webkit-scrollbar {
  width: 6px;
  height: 0px;
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 5px solid #555555
}

.mainContainer {
  position: relative;
  height: fit-content;
  position: relative;
  left: 100px;
  color: white;
  /* background: darkorange; */ /* DEV */
  width: calc((var(--titlesBoxLength) * 92px) + 200px);
  min-width: calc((var(--titlesBoxLength) * 92px) + 200px);
}

.barsMapContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  bottom: 32px;
  right: 100px;
  width: 200px;
  height: 261px;
  z-index: 3
}

.colorFixed {
  display: flex;
  position: absolute;
  right: 6px;
  background: rgba(var(--colorBar));
  padding: 0px !important;
  width: 6px;
  height: 38px;
  border: 0px;
  pointer-events: none;
  z-index: 6000;
}

.titlesNext {
  display: flex;
  /* position: absolute; */
  position: absolute;
  right: calc(100% - 844px);
  /* background: darkgoldenrod; */ /* DEV */
  background: rgba(128, 128, 128, 0.400);
  /* width: 98px; */
  /* width: calc(100vw - 844px); */
  /* width: calc(100% - 700px); */
  width: calc(100vw - 650px);
  height: 100px;
}

.entireBarContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 49px;
  margin-bottom: 1px;
  align-items: flex-end;
  right: 0px;
}

.barInner {
  display: flex;
  position: absolute;
  right: 0px;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 49px;
  margin-bottom: 0px;
  background: none;
  align-items: flex-end;
  border-radius: 10px 0px 0px 0px;
  visibility: hidden;
  transition: right 1.5s;
}

.toggleClass {
  right: 200px !important;
}

@keyframes test444 {
  0% { transform: translateX(0px) }
  50% { transform: translateX(-194px) }
  75% { transform: translateX(-194px) }
  100% { transform: translateX(0px) }
}

.middle {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 12px);
  min-height: 397px;
  height: 397px;
}

.skills {
  display: flex;
  background: #b86b5a;
  width: fit-content;
  font-family: NillandRegular, serif;
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.19;
  height: 36px;
  padding: 0px 5px;
}

.chartContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 361px;
}

.scroll {
  /* overflow: auto; */
  overflow: hidden !important;
  /* border-radius: 0px 0px 10px 10px; */
  height: 361px;
  background:
  linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0.400) 0px, rgba(128, 128, 128, 0.400) 49px,
    steelblue 49px, steelblue 50px,
    rgba(128, 128, 128, 0.400) 50px, rgba(128, 128, 128, 0.400) 99px,
    steelblue 99px, steelblue 100px,
    rgba(128, 128, 128, 0.400) 100px, rgba(128, 128, 128, 0.400) 149px,
    steelblue 149px, steelblue 150px,
    rgba(128, 128, 128, 0.400) 150px, rgba(128, 128, 128, 0.400) 199px,
    steelblue 199px, steelblue 200px,
    rgba(128, 128, 128, 0.400) 200px, rgba(128, 128, 128, 0.400) 249px,
    steelblue 249px, steelblue 250px,
    rgba(128, 128, 128, 0.400) 250px, rgba(128, 128, 128, 0.400) 261px,
    transparent 261px, transparent
  );
}

.scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.upperChartContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  /* background: darkgreen; */ /* DEV */
  height: 261px;
}

.chartRow {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 211px;
  margin-top: 50px;
}

.columnBar {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 90px;
  border-bottom: 2px solid black;
  overflow: hidden;
}

@keyframes growAnimation {
  from { height: 0px; }
  to { height: calc((var(--percentage) + 5) * 2px) }
}

.testBorder {
  border-left: 2px solid black;
  border-image: linear-gradient(to top, black 0px, black 20px, transparent 20px) 1;
}

.leftSide {
  width: 10px;
  animation: growAnimation 1.2s linear;
  background:
    linear-gradient(225deg, gray 7px, silver 7px, transparent),
    linear-gradient(45deg, #0000 7px, silver 0)
}

.centerSide {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: calc((var(--percentage) + 5) * 2px);
  animation: growAnimation 1.2s linear;
  flex-direction: column-reverse;
  background: linear-gradient(to bottom, gray 10px, darkgrey 10px);
  /* background: blue; */ /* DEV */
  text-wrap: nowrap;
}

@keyframes growAnimationn {
  from { height: 0px; }
  to { height: calc(((var(--percentage) + 5) * 2px) - 30px) }
}

.titlesHorizontalContainer {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 37px;
  height: calc(((var(--percentage) + 5) * 2px) - 30px);
  animation: growAnimationn 1.2s linear;
  text-wrap: nowrap;
  bottom: 0px;
  margin-left: 33px;
  overflow: hidden;
  /* background: gray; */ /* DEV */
}

.titlesHorizontal {
  display: flex;
  position: relative;
  transform: rotate(270deg);
  width: 180px;
  margin-bottom: 90px;
}

.rightSide {
  display: flex;
  width: 10px;
  height: calc((var(--percentage) + 5) * 2px);
  animation: growAnimation 1.2s linear;
  background:
    linear-gradient(180deg, #0000 10px, darkgrey 0),
    linear-gradient(225deg, #0000 7px, gray 7px)
}

.titlesBox {
  display: flex;
  /* background: darkgreen; */ /* DEV */
  background: rgba(128, 128, 128, 0.400);
  border-radius: 0px 0px 0px 10px;
  height: 100px;
  width: calc(var(--titlesBoxLength) * 92px);
  padding-left: 57px;
  padding-right: 45px;
  border-color: transparent;
}

.titles {
  display: flex;
  position: relative;
  top: 33px;
  width: 125px;
  height: 30px;
  background: gray;
  transform: rotate(45deg) skew(135deg);
  margin: 0px -18px;
  line-height: 1.9;
  padding-left: 5px;
  font-weight: 600;
  text-wrap: nowrap;
}

.innerLevel {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.levelTitle {
  display: flex;
  position: relative;
  justify-content: flex-end;
  display: inline;
  width: 135px;
  height: 20px;
  /* background: darkorange; */ /* DEV */
  font-size: 14px;
  color: white;
}

.boxSVG {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* background: gray; */ /* DEV */
  width: 49px;
  height: 49px;
}

.imageSVG {
  width: 45px !important;
  height: 45px !important;
  margin-right: 58px;
  color: black !important;
}

@media screen
and (width >= 2px) { /* Nº2 850 */
  .barInner {
    transition: none !important;
  }
  .toggleClass {
    right: 0px !important;
  }
}

@media screen
and (width < 3px) { /* Nº3 856 */
  .background {
    justify-content: flex-start;
  }
  .mainContainer {
    left: 0px !important;
  }
  .barsMapContainer {
    /* background: lightblue !important; */
    position: relative !important;
    right: 200px !important;
    bottom: 32px !important;
  }
}

@media screen
and (width < 1px) { /* Nº1 850 */
  .background {
    /* background: yellow; */ /* DEV */
    width: 100%;
  }
  .mainContainer {
    left: 0px !important;
  }
  .barsMapContainer {
    position: absolute !important;
    right: -200px !important;
    margin-bottom: 65px;
    bottom: unset !important;
  }
  .colorFixed {
    right: 200px !important;
    pointer-events: auto !important;
  }
  .barInner {
    background: rgba(var(--colorBar), 0.4);
    right: 0px;
  }
  .scroll {
    /* width: calc(100vw - 12px); */
    width: calc(100vw - 12px);
  }
}

@media screen
and (max-width: 4px) { /* Nº4 759 */
}

@media screen
and (max-height: 407px) {
  .titlesBox {
    display: none !important;
  }
  .mainContainer {
    height: 297px !important;
  }
  .titlesHorizontalContainer {
    display: flex !important;
  }
  .barsMapContainer {
    margin-top: 100px;
  }
  .chartContainer, .scroll {
    height: 261px !important;
  }
  .leftSide {
    animation: growAnimatioon 1.2s linear !important;
  }
  .centerSide {
    animation: growAnimatioon 1.2s linear !important;
  }
  .rightSide {
    animation: growAnimatioon 1.2s linear !important;
  }
}

@media screen
and (max-height: 308px) {
  .skills {
    display: none !important;
  }
  .barsMapContainer {
    margin-top: 65px;
  }
  .mainContainer {
    height: 261px !important;
  }
}

@media screen
and (max-height: 273px) {
  .background {
    /* overflow-x: hidden !important; */
    overflow-y: auto !important;
    flex-wrap: nowrap !important;
    align-items: flex-start;
  }
  .mainContainer {
    /* overflow: auto !important; */
  }
  .barsMapContainer {
    margin-top: 0px;
    top: 0px !important;
    flex-wrap: wrap !important;
  }
}

@keyframes growAnimatioon {
  from { height: 0px; }
  to { height: calc((var(--percentage) + 5) * 2px) }
}