.modalBackground {
  background: green; /* DEV */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 20000; /* MORE THAN APP GRAY STRIPS */
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerModal {
  background: gray; /* DEV */
  /* background-color: #bebaba; */
  /* background-color: #5c5c5c; */
  display: flex;
  position: relative;
  width: 80vw !important;
  height: 70vh !important;
  justify-content: center;
}

.canvasImage {
  /* background: red; */ /* DEV */
  object-fit: contain;
  max-width: 80vw !important;
  max-height: 70vh !important;
}

.bottomBar {
  display: flex;
  position: absolute;
  background: green; /* DEV */
  left: 0px;
  bottom: 0px;
  width: 100% !important;
  /* background: rgba(0, 0, 0, 0.4); */
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  position: relative;
  background: red; /* DEV */
}

.zoomContainer {
  background: blue; /* DEV */
  width: 50px;
  align-items: center;
  display: flex;
  /* position: relative; */
  position: absolute;
  right: -55px;
  color: #fff;
  height: 49px;
}

.imageCounter {
  background: blue; /* DEV */
  width: 50px;
  align-items: center;
  display: flex;
  /* position: relative; */
  position: absolute;
  left: -55px;
  /* margin-left: 5px; */
  color: #fff;
  height: 49px;
  justify-content: flex-end;
}

.button {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: red !important; */ /* DEV */
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
  margin: 7px 3.5px !important;
}

.iconLeft {
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: rotate(180deg);
  min-width: 0vh;
  width: 23px !important;
  height: 23px !important;
}

.iconRight {
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: rotate(180deg);
  min-width: 0vh;
  width: 23px !important;
  height: 23px !important;
  transform: scaleX(1);
}

