.modalBackground {
  background: green; /* DEV */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 20000; /* MORE THAN APP GRAY STRIPS */
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerModal {
  background: gray; /* DEV */
  /* background-color: #bebaba; */
  /* background-color: #5c5c5c; */
  display: flex;
  position: relative;

  /* justify-content: center; */

  width: 80vw !important;
  height: 70vh !important;
  
 /*  z-index: 20001; */

  
  /* align-content: center; */
  /* align-self: center; */
  justify-content: center;

  /* outline: 1px solid;
  height: 200px; */
  /* object-fit: contain; */


}

.canvasImage {
  /* background: red; */ /* DEV */

  object-fit: contain;
  max-width: 80vw !important;
  max-height: 70vh !important;
  /* display: flex;
  position: relative;
 */
  /* height: 70vh; */
  /* display: flex; */
  /* position: relative; */
  /* width="1920" height="1040" */
 /*  width: 1920px;
  height: 1040px; */
  /* object-fit: contain; */
  /* align-items: center;
  justify-content: center; */
  /* width: 60%;
  height: 70vh; */

  /* width: 80vw !important;
  height: 70vh !important; */

 /*  width: 80%;
  height: 70%; */

  /* width: 100%;
  height: 100%; */

  /* background: red; */ /* DEV */
  /* background-color: #fefefe; */

  /* border: 1px solid #888; */
  /* overflow: scroll;

  width: 80vw !important;
  height: 70vh !important; */
 /*  width: 80vw;
  height: 70vh; */

  /* max-width: fit-content;
  max-height: fit-content; */
  /* max-width: 80vw !important;
  max-height: 70vh !important; */

 

  /* max-width: 80vw !important;
  max-height: 70vh !important; */

  /* height: 70vh !important; */

  /* height: fit-content; */
  /* height: max-content */
  /* height: 100%; */
  /* height: fit-content; */
  
  
  /* transform-origin: center; */
  /* transform-origin: 0% 0% 0px; */
  /* overflow-x: hidden;
  overflow-y: hidden; */
  /* transform: scaleX(1); */
  /* align-content: center; */
  /* align-self: center; */
  /* justify-content: center; */
  /* object-fit: contain; */
  /* background-size: cover; */
}

.imageInContainer {
  /* aspect-ratio: 1 / 1; */
  
  /* max-width:100%; */
  
  /* max-width: 80vw !important;
  max-height: 70vh !important; */
  margin: auto;
  object-fit: contain;
  /* background-size: contain; */
  width: 100%;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
  /* transform: scale(1); */
  /* transform: scaleZ(1); */
  /* scale: 1 1; */
  /* scale: calc(100%) calc(100%); */
  /* scale: 100%; */
  /* transition: unset; */
  /* transform-origin: 50% 50%; */
  /* width: 142.857143%; */

  /* perspective: none; */
  /* transform: translateZ(200px); */
  /* perspective: 500px; */
  /* transform: translate3d(0px, 0px, 500px); */
  /* perspective: 500px;
  perspective-origin: 0% 0%;
  transform-style: preserve-3d; */
  /* transform: translateZ(600px); */
  /* transform: translateZ(100px); */

}

.buttonsContainer {

  display: flex;

  position: absolute;
  background: green; /* DEV */
  /* position: relative; */
  left: 0px;
  bottom: 0px;
  /* padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
  right: 0; */

  /* left: 10vw; */
  /* width: 500px; */
  width: 100%;
  /* background: green; */ /* DEV */
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.button {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: red !important; */ /* DEV */
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
  margin: 7px 3.5px !important;
}

.iconLeft {
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: rotate(180deg);
  min-width: 0vh;
  width: 23px !important;
  height: 23px !important;
}

.iconRight {
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: rotate(180deg);
  min-width: 0vh;
  width: 23px !important;
  height: 23px !important;
  transform: scaleX(1);
}