.background {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  /* background: darkred; */ /* DEV */
  height: 100vh;
  width: 100vw;
  left: 0px;
}

.eachCircle {
  min-width: 22px;
  min-height: 22px;
  width: 22px;
  height: 22px;
  background: #4fc3dc;
  border-radius: 50%;
  box-shadow: 0 0 0 0.49vw #4fc3dc44, 0 0 2.49vw #4fc3dc, 0 0 4.99vw #4fc3dc;
  animation: animate 17s linear infinite;
  animation-duration: calc(125s / var(--i));
}

@keyframes animate {
  0% { transform: translateY(100vh) scale(0) }
  100% { transform: translateY(-30px) scale(1) }
}

.eachCircle:nth-of-type(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 0.49vw #4fc3dc44, 0 0 2.49vw #ff2d75, 0 0 4.99vw #ff2d75;
  animation-duration: calc(125s / var(--i));
}