.background  {
  display: flex;
  position: relative;
  height: calc(100% - 12px);
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5
}
.background::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5
}
.background::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 5px solid #555555
}

.leftContainer {
  /* background: orange; */ /* DEV */
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
  max-width: 800px;
  width: 100%;
  min-height: 546px;
}

.rightContainer {
  /* background: darkorange; */ /* DEV */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 631px;
  width: 50%;
  min-height: 546px;
}

.imageSVG {
  display: flex;
  position: relative;
  min-width: 546px;
  width: 70vh;
  min-height: 546px;
  height: 70vh;
}

.boxTypography {
  display: flex;
  position: column;
  justify-content: space-evenly;
  min-width: 600px;
  width: 44vw;
  min-height: 300px;
  height: 300px;
}

.textContainer {
  flex-direction: column;
  justify-content: space-between;
}

.technologiesContainer {
  display: flex;
  position: relative;
  mix-blend-mode: difference;
}

.textOne {
  display: flex;
  position: relative;
  color: #FFFFFF;
  font-size: min(10vw, 65px);
  mix-blend-mode: difference;
}

.textTwo {
  display: flex;
  position: relative;
  color: #FFFFFF;
  font-size: min(11vw, 67px);
  mix-blend-mode: difference;
}

.textThree {
  display: flex;
  position: relative;
  color: #FFFFFF;
  font-size: min(6.5vw, 42px);
  mix-blend-mode: difference;
}

.boxButton {
  width: 100%
}

.buttonContainer {
  display: flex;
  position: relative;
  text-decoration: none;
}

.buttonMessage  {
  background: none;
  padding: 0px !important;
  width: min(50vw, 370px);
  color: #FFFFFF;
  font-size: min(4vw, 28px) !important;
}

.buttonContainer:hover .buttonMessage {
  transition: all .2s ease-in-out;
  transform: scale(1.05)
}

.buttonContainer:not(:hover) .buttonMessage {
  transition: all .2s ease-in-out;
  transform: scale(1.0)
}

/* WIDTH LESS THAN 1280px */
@media screen
and (orientation: landscape)
and (width < 1280px),
screen
and (orientation: portrait)
and (width < 1280px) {
  .rightContainer {
    display: none !important;
  }
}