:root {
  --IVBackgroundOpacity: rgba(0, 0, 0, 1.0);
  --IVBottomBarOpacity: rgb(77, 77, 77);
  /* --IVBottomBarOpacity: rgba(77, 255, 255); */
  /* --IVFade: 2s; */
  --IVFade: 0.4s;
  /* --IVLockOpacity: 0; */
  /* --IVLock: rgb(77, 77, 77); */
}

@property --IVLock {
  syntax: '<color>';
  initial-value: rgb(77, 77, 77);
  inherits: true;
}

@property --IVLockOpacity {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --IVPlayOpacity {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}


.IVBackground {
  /* background: green; */ /* DEV */
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0,0,0,0.4); */ /* AROUND IMAGE */
  /* background: rgba(0, 0, 0, 1.0); */
  background: var(--IVBackgroundOpacity);
  /* background: rgba(0, 0, 0, 1); */
  /* background: black; */
  z-index: 1000000; /* MORE THAN APP GRAY STRIPS */
  display: flex;
  justify-content: center;
  align-items: center;
}


.bottomBar {
  /* background: green; */ /* DEV */
  /* background: rgba(0, 128, 0, .5); */ /* DEV */
  background: var(--IVBottomBarOpacity);
  z-index: 1000001;
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 49px;
  justify-content: center;
}

.buttonsContainer {
  /* background: red; */ /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
}

.imageViewerForeground {
  display: flex;
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  left: 0px;
  top: 0px;
}

.imageCounter {
  /* background: blue; */ /* DEV */
  width: 70px;
  align-items: center;
  display: flex;
  position: absolute;
  left: -75px;
  color: #fff;
  height: 49px;
  justify-content: flex-end;
}

.zoomContainer {
  /* background: blue; */ /* DEV */
  width: 70px;
  align-items: center;
  display: flex;
  position: absolute;
  right: -75px;
  color: #fff;
  height: 49px;
}

.button {
  /* background: red !important; */ /* DEV */
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
  margin: 7px 3.5px !important;
  z-index: 1000002;
}

.iconLock {
  color: var(--IVLock) !important;
  transition: --IVLock var(--IVFade) !important;
}

.icon {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-width: 0%;
  width: 23px !important;
  height: 23px !important;
}

.lockOpacity {
  opacity: var(--IVLockOpacity) !important;
  transition: opacity var(--IVFade) !important;
}

.playOpacity {
  opacity: var(--IVPlayOpacity) !important;
  transition: opacity var(--IVFade) !important;
}

.pauseOpacity {
  opacity: calc((var(--IVPlayOpacity) * -1) + 1) !important;
  transition: opacity var(--IVFade) !important;
}

.rotateX {
  transform: rotate(180deg);
}

.rotateY {
  transform: rotate(90deg);
}

.flipIcon {
  transform: scaleX(-1);
}

.flipIconTest {
  transform: rotate(90deg);
}

.lockContainer {
  /* background: green !important; */ /* DEV */
  display: flex;
  position: relative;
}

.buttonOutline {
  display: flex;
  position: absolute;
  height: 42px;
  margin-top: 3.5px;
  left: 252px;
}

.fade {
  transition: fill var(--IVFade), stop-color var(--IVFade);
}



/* BEGIN SWITCH */

.switch {
  /* background: red !important; */ /* DEV */
  margin-left: 12px;
  width: 38px !important;
  height: 22px !important;
  padding: 0px !important;
}

.track { /* SWITH BACKGROUND */
  border-radius: 40px !important;
  height: 22px !important;
  padding: 0px !important;
  opacity: 1 !important;
  transition-duration: 500ms !important;
}

.trackEnabled { /* ENABLED BACKGROUND COLOR */
  background-color: #65C466 !important;
}

.trackDisabled { /* DISABLED BACKGROUND COLOR */
  background-color: lightgray !important;
}

.thumb { /* SWITH CIRCLE */
  width: 18px !important;
  height: 18px !important;
  background-color: #fff !important;
  color: #33cf4d !important;
  border: 0px !important;
}

.switchBase {
  left: -7px !important;
  top: -7px !important;
  transition-duration: 300ms !important;
}

.checked { /* DISABLES GLOW */
  transform: translateX(16px) !important;
  color: #fff !important;
  color: transparent !important;
  background-color: transparent !important;
}

.colorPrimary { /* DISABLES GLOW */
  color: transparent !important;
  background-color: transparent !important;
}

/* END SWITCH */

/* BEGIN BASE NUMBER INPUT */

.numberInputRoot {
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  /* background: red; */ /* DEV */
  height: 36px;
  align-self: center;
}

/* .numberInputInput {
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 400;
  height: 32px;
  color: #212121;
  background: #cfd8dc;
  border: 0px solid #eeeeee;
  box-shadow: 0px 2px 4px rgba(0,0,0, 0.05);
  padding: 0px 10px;
  outline: 0;
  min-width: 0;
  width: 40px;
  text-align: center;
} */

.numberInputInput {
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 400;
  height: 32px;
  color: #212121;
  background: #cfd8dc;
  box-shadow:inset 0px 0px 0px 2px #cfd8dc;
  border: 0px;
  padding: 0px 10px;
  outline: 0px;
  min-width: 0;
  width: 40px;
  text-align: center;
}

.numberInputInput:focus-visible {
  box-shadow:inset 0px 0px 0px 2px #90caf9;
}

.numberInputButton {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  line-height: 1.5;
  border: 0px solid;
  border-color: #eeeeee;
  background: #78909c;
  color: #212121;
  width: 32px;
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 120ms;
}

.incrementButtonIcon {
  pointer-events: none;
}

.increment {
  order: 2;
}

/* END BASE NUMBER INPUT */

.lockSettings {
  display: flex;
  /* flex-direction: column; */
  background: lightblue;
  position: absolute;
  bottom: -200px;
  transition: bottom 1s;
  /* width: 100%; */
  width: 300px;
  height: 200px;
  /* top: -500px; */
}

.menuLeft {
  background: lightgreen;
  width: 130px;
  height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  /* width: fit-content; */
}

.menuLeftA {
  background: lightcoral;
  /* width: 100px; */
  height: 25px;
  display: flex;
  position: relative;
  /* flex-direction: column; */
  /* width: fit-content; */
  width: 100%;
}

.menuLeftB {
  background: lightcoral;
  width: 100px;
  height: 25px;
  display: flex;
  position: relative;
  /* flex-direction: row; */
  width: 100%;
}

.menuLeftC {
  background: lightcoral;
  width: 100px;
  height: 25px;
  display: flex;
  position: relative;
  /* flex-direction: row; */
  width: 100%;
}

.menuRight {
  background: red;
  width: 170px;
  display: flex;
  position: relative;
  flex-direction: column;
  /* width: fit-content; */
}

.menuRightA {
  background: red;
  width: 170px;
  /* display: flex; */
  /* position: relative; */
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: column;
  height: 100%;
  /* width: fit-content; */
}

.menuRightB {
  background: red;
  width: 170px;
  /* display: flex; */
  /* position: relative; */
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: column;
  height: 100%;
  /* width: fit-content; */
}

.menuRightC {
  background: red;
  width: 170px;
  /* display: flex; */
  /* position: relative; */
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: column;
  height: 100%;
  /* width: fit-content; */
}

.div2 {
  background: green;
  display: flex;
  position: relative;
  flex-direction: column;
  width: fit-content;
}