:root {
  --IVLock: rgb(119, 82, 77);
  --IVRotate: rgb(119, 82, 77);
  --IVRotateBorder: rgb(119, 82, 77);
}


.modalBackground {
  /* background: green; */ /* DEV */
  position: fixed;
  /* left: 0;
  top: 0; */
  width: 100vw;
  height: 100vh;
  /* width: 95vh;
  height: 95vw; */
  /* background: rgba(0,0,0,0.4); */ /* AROUND IMAGE */
  background: rgba(0,0,0,0.8);
  /* background: rgba(0, 0, 0, 1); */
  /* background: black; */
  z-index: 1000000; /* MORE THAN APP GRAY STRIPS */
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(270deg); */
  /* transform: rotate(-90deg); */
}


.bottomBar {
  /* background: green; */ /* DEV */
  background: rgba(0, 128, 0, .5); /* DEV */
  z-index: 1000001;
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 0px;
  bottom: 0px;
  /* flex-direction: column; */
  width: 100%;
  height: 49px;
 /*  height: 100%;
  left: 0px;
  top: 0px;
   */
   /* transform: rotate(90deg); */
  /* background: rgba(0, 0, 0, 0.4); */
  /* transform: rotate(270deg); */
  /* transform: rotate(90deg); */
  justify-content: center;
  /* transform-style: preserve-3d; */
  /* align-items: center; */
}

.buttonsContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  /* width: 600px; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* background: red; */ /* DEV */
}

.imageViewerForeground {
  /* width: 80vw;
  height: 70vh; */
  display: flex;
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  left: 0px;
  top: 0px;
  /* zoom: 1; */
  transform: scale(1);
  /* transition: transform .2s, left .2s, top .2s; */
  transition: transform .2s;
  transform-style: flat;
  /* transition: all .2s; */
}

.imageCounter {
  /* background: blue; */ /* DEV */
  width: 70px;
  align-items: center;
  display: flex;
  position: absolute;
  left: -75px;
  color: #fff;
  height: 49px;
  justify-content: flex-end;
}

.zoomContainer {
  /* background: blue; */ /* DEV */
  /* width: 50px; */
  width: 70px;
  align-items: center;
  display: flex;
  position: absolute;
  /* right: -55px; */
  right: -75px;
  color: #fff;
  height: 49px;
}

.button {
  /* background: red !important; */ /* DEV */
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
  margin: 7px 3.5px !important;
  z-index: 1000002;
  transition-duration: 0.25s, 0.25s, 0.25s !important;
  transition-property: background-color, border-color, color !important;
  /* transition: box-shadow 10s !important; */
  /* background: red !important; */
  /* box-shadow: -10px 0px 10px 1px red !important; */
  /* box-shadow: 0px 2px 0px 2px rgba(0, 128, 0, .5) !important; */
  /* box-shadow: 0px 0px 0px 2px green !important; */
  /* box-shadow: 0px 0px 0px 3.5px rgb(255, 0, 0) !important; */
}

/* div.buttonsContainer:nth-child(4) {
  box-shadow: 0px 0px 0px 3.5px rgb(255, 0, 0) !important;
} */

/* ROTATE */
[class*="ImageViewerCSS_buttonsContainer_"] > [class*="ImageViewerCSS_button_"]:nth-child(10), [class*="ImageViewerCSS_button_"]:nth-child(11) {
  box-shadow: 0px 0px 0px 3.5px var(--IVRotateBorder) !important;
  /* box-shadow: 0px 0px 0px 3.5px var(--IVRotateBorder) !important; */
}

/* .button:hover {
  clip-path: circle(90%) !important;
} */

.icon {
  display: flex;
  position: absolute;
  flex-direction: column;
  /* transform: rotate(180deg); */
  min-width: 0%;
  width: 23px !important;
  height: 23px !important;
}

.rotateX {
  transform: rotate(180deg);
}

.rotateY {
  transform: rotate(90deg);
}

.flipIcon {
  transform: scaleX(-1);
}

.flipIconTest {
  transform: rotate(90deg);
}

.lockContainer {
  /* background: lightcoral !important; */
  display: flex;
  position: relative;
  /* position: absolute !important;
  width: 100px !important;
  height: 100px !important;
  left: 0px !important;
  top: 0px !important; */
  /* border-left: 10px solid red; */
  /* box-shadow: -10px 0px 10px 1px #aaaaaa; */
}



.lockContainerBackground {
  position: absolute;
  right: 0px;
  top: 3.5px;
  width: 462px; /* SELF BUTTON WIDTH */
  height: 42px;

  /* border-radius: 8px; */
  /* border-radius: 4px; */
  border-radius: calc(3.5px + 4px);
  /* background: red !important; */

  background:
    no-repeat
    linear-gradient( /* 1st BLOCK */
      to left,
      var(--IVLock) 0px, var(--IVLock) 21px,
      var(--IVRotate) 21px, var(--IVRotate) 63px,
      var(--IVRotate) 63px, var(--IVRotate) 105px,
      transparent 105px
    ) 0px 0px / 100% 1.75px,
    no-repeat
    linear-gradient( /* 2nd BLOCK */
      to left,
      var(--IVLock) 0px, var(--IVLock) 21px,
      var(--IVRotate) 21px, var(--IVRotate) 63px,
      var(--IVRotate) 63px, var(--IVRotate) 105px,
      transparent 105px
    ) 0px 0px / 100% 42px,
    no-repeat
    linear-gradient( /* 3rd BLOCK */
      to left,
      var(--IVLock) 0px, var(--IVLock) 21px,
      var(--IVRotate) 21px, var(--IVRotate) 63px,
      var(--IVRotate) 63px, var(--IVRotate) 105px,
      transparent 105px
    ) 0px 40.25px / 100% 1.75px;

  /* background-repeat: no-repeat; */


  /* z-index: -0; */
  /* position: absolute !important;
  width: 100px !important;
  height: 100px !important;
  left: 0px !important;
  top: 0px !important; */
  /* border-left: 10px solid red; */
  /* box-shadow: -10px 0px 10px 1px #aaaaaa; */
}

.lockSettings {
  display: flex;
  flex-direction: column;
  background: lightblue;
  position: absolute;
  bottom: -200px;
  transition: bottom 1s;
  width: 100%;
  height: 200px;
  /* top: -500px; */
}

/* BEGIN SWITCH */

.switch {
  /* background: red !important; */ /* DEV */
  margin-left: 12px;
  width: 38px !important;
  height: 22px !important;
  padding: 0px !important;
}

.track { /* SWITH BACKGROUND */
  border-radius: 40px !important;
  height: 22px !important;
  padding: 0px !important;
  opacity: 1 !important;
  transition-duration: 500 !important;
}

.trackEnabled { /* ENABLED BACKGROUND COLOR */
  background-color: #65C466!important;
}

.trackDisabled { /* DISABLED BACKGROUND COLOR */
  background-color: lightgray !important;
}

.thumb { /* SWITH CIRCLE */
  width: 18px !important;
  height: 18px !important;
  background-color: #fff !important;
  color: #33cf4d !important;
  border: 0px !important;
}

.switchBase {
  left: -7px !important;
  top: -7px !important;
  transition-duration: 300ms !important;
}

.checked { /* DISABLES GLOW */
  transform: translateX(16px) !important;
  color: #fff !important;
  color: transparent !important;
  background-color: transparent !important;
}

.colorPrimary { /* DISABLES GLOW */
  color: transparent !important;
  background-color: transparent !important;
}

/* END SWITCH */