:root {
  --placeholderCert: darkcyan;
  --hoverCert: brightness(.9);
  --filterCert: none;
}

[data-theme="dark"] {
  --placeholderCert: #196b6b;
  --hoverCert: brightness(.65);
  --filterCert: brightness(.6);
}

.background {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  left: 0px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background: orange; */ /* DEV */
}

.mainBox {
  display: flex;
  /* background: darkred; */ /* DEV */
  position: relative;
  max-height: calc(100vh - 12px);
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  align-self: center;
  overflow: auto;
  overflow-x: hidden;
}

.mainBox::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5
}

.mainBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5
}

.mainBox::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 5px solid #555555;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background: orange; */ /* DEV */
  min-width: 400px;
  width: 400px;
  height: 220px;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
}

.title {
  color: #FFFFFF;
  font-size: 18px;
  mix-blend-mode: difference;
  text-wrap: nowrap;
  transform: scale(1) translate(0px, 0px);
  transition: transform .2s ease-in-out;
  will-change: transform;
}

.boxMediaWrapper {
  display: flex;
  width: 220px;
  height: 120px;
  transform: scale(1) translate(0px, 0px);
  transition: transform .2s ease-in-out;
}

.url {
  color: #FFFFFF;
  padding-right: 0vw;
  padding-top: 0vw;
  font-size: 18px;
  mix-blend-mode: difference;
  transform: scale(1) translate(0px, 0px);
  transition: transform .2s ease-in-out;
  will-change: transform;
  /* background: gray; */ /* DEV */
}

.card:hover .title {
  transform: scale(1.05) translate(0px, -3px);
}

.card:hover .boxMediaWrapper {
  transform: scale(1.05) translate(0px, 0px);
}

.card:hover .url {
  transform: scale(1.05) translate(0px, 3px);
}

.anchor {
  align-self: center;
  color: #FFFFFF;
  text-decoration: none;
}

.boxMedia {
  display: flex;
  width: 220px;
  height: 120px;
  filter: var(--filterCert);
  transition: filter 1s;
  z-index: 1000,
}

.boxMedia:hover {
  filter: var(--hoverCert);
  transition: filter 0s;
}

.placeholderBackground {
  display: flex;
  position: relative;
  background: var(--placeholderCert);
  margin-left: -220px;
  width: 220px;
  height: 120px;
  z-index: 1000,
}

.placeholderAnimation {
  display: flex;
  position: relative;
  margin-left: -170px;
  width: 120px;
  height: 120px;
  z-index: 1001;
  animation: spinner .8s linear infinite;
  animation-timing-function: steps(12, end);
}

@keyframes spinner {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@media screen
and (width <= 460px) {
  .card {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    /* background: darkcyan !important; */ /* DEV */
    /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  }
  .title, .url {
    font-size: 4.3vw;
  }
}