@property --coralNews {
  syntax: '<color>';
  initial-value: lightcoral;
  inherits: false;
}

@property --greenNews {
  syntax: '<color>';
  initial-value: lightgreen;
  inherits: false;
}

:root {
  --buttonNews: lightblue;
}

[data-theme="dark"] {
  .eachDescription, .sliderBoxNews {
    --coralNews: #bd7979;
    --greenNews: #76b376;
  };
  .eachDescription:hover {
    --coralNews: lightcoral;
    --greenNews: lightgreen;
  };
  --buttonNews: #708f99;
}

.background {
  display: flex !important;
  position: fixed;
  z-index: 2001 !important;
  width: 35px !important;
  height: 35px !important;
  left: 20px !important;
  bottom: 20px !important;
  /* background: yellow !important; */ /* DEV */
  border-radius: 4px;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttonSettings {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 2001 !important;
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
}

.sliderBoxNews {
  display: flex;
  position: absolute;
  flex-direction : column-reverse;
  left: -514px;
  bottom: 49px;
  max-width: 500px;
  height: 168px;
  background:
    linear-gradient(
      to right,
      var(--coralNews) 0px, var(--coralNews) 80px,
      var(--greenNews) 80px, var(--greenNews) 500px
    );
  transition: --coralNews 1s, --greenNews 1s, left 1.5s;
}

.moveSliderBoxNews {
  left: -14px;
}

.buttonNews {
  display: flex;
  position: fixed;
  left: 30px;
  right: 800px;
  min-width: 30px !important;
  width: 30px !important;
  min-height: 120px !important;
  height: 120px !important;
  color: darkblue !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  background: var(--buttonNews) !important;
}

.changeLogTypo {
  display: flex;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  transform: rotate(270deg);
  text-wrap: nowrap;
}

.buttonsContainer {
  display: flex;
  position: absolute;
  top: -20px;
  flex-direction : row;
  /* background: orange; */ /* DEV */
  height: 20px;
}

.eachDescription {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 24px;
  min-height: 24px;
  background:
    linear-gradient(
      to right,
      var(--coralNews) 0px, var(--coralNews) 80px,
      var(--greenNews) 80px, var(--greenNews) 500px
    );
  transition: --coralNews 1s, --greenNews 1s;
}

.eachDescription:hover {
  --coralNews: #bd7979;
  --greenNews: #76b376;
}

.date {
  display: flex;
  position: relative;
  justify-content: center;
  width: 80px;
  min-width: 80px;
  font-size: 16px;
}

.text {
  display: flex;
  position: relative;
  width: 420px;
  overflow-y: hidden;
  overflow-x: hidden;
  text-wrap: nowrap;
  font-size: 16px;
}

button:disabled {
  background: rgb(87, 87, 87);
  border-radius: 2px;
}

@media screen
and (width < 543px) {
  .text {
    width: calc(100vw - 92px);
  }
}