:root {
  --backgroundNews:
    linear-gradient(
      to right,
      lightcoral 0px, lightcoral 80px,
      lightgreen 80px, lightgreen 500px
    );
  --backgroundHoverNews:
    linear-gradient(
      to right,
      #bd7979 0px, #bd7979 80px,
      #76b376 80px, #76b376 500px
    );
  --buttonNews: lightblue;
}

[data-theme="dark"] {
  --backgroundNews:
    linear-gradient(
      to right,
      #bd7979 0px, #bd7979 80px,
      #76b376 80px, #76b376 500px
    );
  --backgroundHoverNews:
    linear-gradient(
      to right,
      lightcoral 0px, lightcoral 80px,
      lightgreen 80px, lightgreen 500px
    );
  --buttonNews: #708f99;
}

.background {
  display: flex !important;
  position: fixed;
  z-index: 2001 !important;
  width: 35px !important;
  height: 35px !important;
  left: 20px !important;
  bottom: 20px !important;
  /* background: yellow !important; */
  border-radius: 4px;
}

.buttonSettings {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 2001 !important;
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 35px !important;
  height: 35px !important;
}

.sliderBoxNews {
  display: flex;
  /* position: relative; */
  position: absolute;
  flex-direction : column-reverse;
  /* left: -14px; */
  left: -514px;
  bottom: 49px;
  max-width: 500px;
  height: 168px;
  transition-duration: 1.5s;
  background: var(--backgroundNews)
}

.moveSliderBoxNews {
  /* left: 560px; */
  left: -14px;
}

.buttonNews {
  display: flex;
  position: fixed;
  left: 30px;
  right: 800px;
  min-width: 30px !important;
  width: 30px !important;
  min-height: 120px !important;
  height: 120px !important;
  color: darkblue !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  background: var(--buttonNews) !important;
}

.changeLogTypo {
  display: flex;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  transform: rotate(270deg);
  text-wrap: nowrap;
}

.buttonsContainer {
  display: flex;
  position: absolute;
  top: -20px;
  flex-direction : row;
  /* background: orange; */ /* DEV */
  height: 20px;
}

.eachDescription {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 24px;
  min-height: 24px;
}

.date {
  display: flex;
  position: relative;
  justify-content: center;
  width: 80px;
  min-width: 80px;
  font-size: 16px;
}

.text {
  display: flex;
  position: relative;
  width: 420px;
  overflow-y: hidden;
  overflow-x: hidden;
  text-wrap: nowrap;
  font-size: 16px;
}

button:disabled {
  background: rgb(87, 87, 87);
  border-radius: 2px;
}

.eachDescription {
  background: var(--backgroundNews)
}

.eachDescription:hover {
  background: var(--backgroundHoverNews)
}

@media screen
and (width <= 542px) {
  /* .text {
    width: calc(100vw - 122px);
  } */
  .text {
    width: calc(100vw - 92px);
  }
  /* .moveSliderBoxNews {
    left: calc(100vw + 18px);
  } */
}