@property --whiteApp {
  syntax: '<color>';
  initial-value: white;
  inherits: false;
}

@property --blackApp {
  syntax: '<color>';
  initial-value: black;
  inherits: false;
}

:root {
  --borderApp: #bdbdbd;
}

[data-theme="dark"] {
  .blackWhite {
    --whiteApp: #696868;
    --blackApp: #2b2b2b;
  };
  --borderApp: #424242;
}

.background {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.blackWhite {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  width: calc(100vw - 12px);
  height: calc(100vh - 12px);
  background:
    linear-gradient(
      to bottom right,
      var(--blackApp) 49.9%,
      var(--whiteApp) 50.1%
    );
  transition: --blackApp 1s, --whiteApp 1s;
  overflow: hidden;
  justify-content: flex-start;
}

.testAAA {
  background: yellowgreen;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  /* width: calc(100vw - 12px); */
  width: 100%;
  height: calc(100vh - 12px);
}

.grey {
  display: flex;
  position: absolute;
  /* background: orange; */ /* DEV */
  background: var(--borderApp);
  transition: background 1s;
  z-index: 10000
}

.topBottom {
  height: 6px;
  width: calc(100vw - 12px);
}

.leftRight {
  height: 100vh;
  width: 6px;
}

.top { top: 0px }

.bottom { bottom: 0px }

.left { left: 0px }

.right { right: 0px }