:root {
  --blueBoxAbout: #3C6478;
  --textColorAbout: white;
}

[data-theme="dark"] {
  --blueBoxAbout: #253740;
  --textColorAbout: #b9b9b9;
}

.background {
  display: flex;
  position: relative;
  /* background: yellow; */ /* DEV */
  padding: 0px 10px 10px 10px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  height: calc(100vh - 12px);
  overflow-x: hidden;
  overflow: auto;
  padding-top: 60px;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5
}

.background::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 5px solid #555555
}

.blueBox {
  border-radius: 20px;
  max-width: 700px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  position: relative;
  align-items: center;
  width: 100%;
  font-size: 26px;
  padding: 60px 40px 60px 40px;
  text-align: center;
  color: var(--textColorAbout);
  /* background: orange; */ /* DEV */
  background: var(--blueBoxAbout);
  transition: background 1s, color 1s;
}

.avatar {
  display: flex;
  position: absolute;
  top: -50px;
  left: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}